<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CryptoMessenger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <CryptoMessenger.Properties.Settings>
            <setting name="AlertColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="BackgroundWhiteColor" serializeAs="String">
                <value>255, 252, 248</value>
            </setting>
            <setting name="LoginFirstColor" serializeAs="String">
                <value>75, 210, 175</value>
            </setting>
            <setting name="LoginSecondColor" serializeAs="String">
                <value>105, 225, 190</value>
            </setting>
            <setting name="LoginThirdColor" serializeAs="String">
                <value>60, 200, 160</value>
            </setting>
            <setting name="MainFirstColor" serializeAs="String">
                <value>220, 10, 90</value>
            </setting>
            <setting name="MainSecondColor" serializeAs="String">
                <value>250, 25, 105</value>
            </setting>
            <setting name="MainThirdColor" serializeAs="String">
                <value>205, 0, 75</value>
            </setting>
            <setting name="PanelBorderColor" serializeAs="String">
                <value>215, 215, 215</value>
            </setting>
            <setting name="SuccessColor" serializeAs="String">
                <value>Lime</value>
            </setting>
        </CryptoMessenger.Properties.Settings>
    </applicationSettings>
</configuration>