<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CryptoMessenger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <applicationSettings>
        <CryptoMessenger.Properties.Settings>
            <setting name="MainFirstBrush" serializeAs="String">
                <value>#FF4C4743</value>
            </setting>
            <setting name="MainSecondBrush" serializeAs="String">
                <value>#FF818181</value>
            </setting>
            <setting name="SpecialBrush" serializeAs="String">
                <value>#FFFEC606</value>
            </setting>
            <setting name="MainSecondLightBrush" serializeAs="String">
                <value>#FF959590</value>
            </setting>
            <setting name="AlertBrush" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="SuccessBrush" serializeAs="String">
                <value>#FF00FF00</value>
            </setting>
            <setting name="SecondaryFirstBrush" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="SecondarySecondBrush" serializeAs="String">
                <value>#FFDCDCDC</value>
            </setting>
            <setting name="SpecialColor" serializeAs="String">
                <value>#FFFEC606</value>
            </setting>
            <setting name="AlertColor" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
        </CryptoMessenger.Properties.Settings>
    </applicationSettings>
</configuration>
