<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CryptoMessenger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CryptoMessenger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <CryptoMessenger.Properties.Settings>
            <setting name="SpecialColor" serializeAs="String">
                <value>#FFF0413C</value>
            </setting>
            <setting name="SpecialBrush" serializeAs="String">
                <value>#FFF0413C</value>
            </setting>
        </CryptoMessenger.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <CryptoMessenger.Properties.Settings>
            <setting name="ActionDelayMsec" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="HideNotificationDelayMsec" serializeAs="String">
                <value>2500</value>
            </setting>
            <setting name="WaitServerConnectionDelayMsec" serializeAs="String">
                <value>5000</value>
            </setting>
        </CryptoMessenger.Properties.Settings>
    </applicationSettings>
</configuration>
